body {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 1.25rem;
  text-align: center;
  color: #053c80;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;

}

p {
  margin-bottom: 0;
}

.container-fluid {
  padding-bottom: 0;
}


/* blue navbar */

.navbar-dark {
  background-color: #053c80;
  height: 100px;
}

.navbar-logo {
  height: 70px;
  margin: 0 30px;
}

.socials {
  margin-right: 30px;
}

.social-icon {
  padding: 0 5px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #c80c27;
}

@media (max-width: 768px) {
  .socials > li > a {
    display: none;
 }
}


/* white navbar */

.navbar-light {
  height: 40px;
}

.navbar-light .nav-item {
  margin: 0 20px;
}

.nav-link {
  font-size: 1rem;
  font-family: 'Hind Guntur', sans-serif;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: #053c80;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #c80c27;
}

.navbar-light .navbar-nav .red {
  color: #c80c27;
}

.navbar-light .navbar-nav .red:hover {
  color: #053c80;
}

/*.navbar-light .navbar-toggle {*/
  /* (40px - button height 34px) / 2 = 3px */
  /* margin-top: 3px;
  padding: 9px 10px !important;
  border: none;
}*/

/*@media (min-width: 768px) {
  .test > li > a {*/
    /* (40px - line-height of 27px) / 2 = 10px */
    /*padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
 }
}*/

/* carosuel */

.carousel-caption {
  padding-bottom: 3%;
}


/* cover photo */

.cover {
  position: relative;
  text-align: center;
  color: white;
  padding: 0 0;
  margin: 0 0;
}

.cover-image {
  width: 100%;
}

.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  color: #c80c27;
}


/* intro */

.intro-image {
  width: 50%;
  height: auto;
}

.media {
  padding: 50px 0;
}

.intro {
  padding: 50px 50px;
}

.btn-primary {
  background-color: #c80c27;
  border: none;
}

.btn-primary:hover {
  background-color: #053c80;
  border: none;
}


/* @media (min-width: 1200px) {
  .intro .text {
    padding-top: 50px;
 }
} */

/* boxes */

.boxes {
  background-color: #053c80;
  padding: 50px 50px;
}

.card-text {
  font-size: 1.1rem;
  padding-bottom: 20px;
}

.card {
  margin: 30px 0;
}


/* sponsors */

.sponsors {
  color: #053c80;;
  padding: 50px 50px;
}

.sponsor-image {
  height: 100px;
  margin: 30px 30px;
}


/* footer */

footer {
  padding: 50px 0;
  background-color: #053c80;
}

.social-icon {
  color: white;
}

.social-icon:hover {
  color: #c80c27;
  text-decoration: none;
}
