body {
    background-image: url("../images/banner.jpg");
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Open Sans', 'Calibri', sans-serif;
    margin: 0;
    padding: 0;
}

body p {
    text-align: justify;
}

#heading {
    background-color: #083674;
    padding: 0.5em;
    text-align: center;
}

#heading h1 {
    color: #ffffff;
    font-family: 'Oswald', 'Impact', sans-serif;
    font-size: 2.5em;
    margin-bottom: 0.3em;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline-block;
    margin: 0 0.3em 0 0.3em;
    padding: 0.4em 1em 0.4em 1em;
}

#navbar a, #navbar li {
    color: #ffffff;;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}
